*{
    background-color:blanchedalmond ;
    font-family: sans-serif;
    margin: 5px;
    padding: 0 auto;
}
#odin-title{
    border-bottom: 1px solid black;
    padding: 5px;
}
img{
    border: 2px solid black;
    margin-top:10px;
    width: 300px;
    height: 250px;
}
a{
    color: black;
}
h3{
    text-align: center;
}
h2{
    padding: 15px 0;
}
li{
    padding: 3px 0;
}
.recipe-title{
    border-bottom: 2px dashed black;
    padding: 2px;

}
